In [ ]:
pip install yfinance --upgrade --no-cache-dir

In [4]:
import yfinance as yf
hist =  yf.download(  # or pdr.get_data_yahoo(...
        # tickers list or string as well
        tickers = "BTC-USD",

        # use "period" instead of start/end
        # valid periods: 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max
        # (optional, default is '1mo')
        period = "max"

    )

[*********************100%***********************]  1 of 1 completed

In [5]:
hist

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800
2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200
2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700
2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600
2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100
...,...,...,...,...,...,...
2021-11-18,60360.136719,60948.500000,56550.792969,56942.136719,56942.136719,41388338699
2021-11-19,56896.128906,58351.113281,55705.179688,58119.578125,58119.578125,38702407772
2021-11-20,58115.082031,59859.878906,57469.726562,59697.195312,59697.195312,30624264863
2021-11-21,59730.507812,60004.425781,58618.929688,58730.476562,58730.476562,26123447605
2021-11-22,58602.894531,58602.894531,57483.695312,57722.078125,57722.078125,27712661504

In [6]:
hist_eth =  yf.download(  # or pdr.get_data_yahoo(...
        # tickers list or string as well
        tickers = "ETH-USD",

        # use "period" instead of start/end
        # valid periods: 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max
        # (optional, default is '1mo')
        period = "max"

    )

[*********************100%***********************]  1 of 1 completed

In [7]:
hist_eth

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2015-08-07,2.831620,3.536610,2.521120,2.772120,2.772120,164329
2015-08-08,2.793760,2.798810,0.714725,0.753325,0.753325,674188
2015-08-09,0.706136,0.879810,0.629191,0.701897,0.701897,532170
2015-08-10,0.713989,0.729854,0.636546,0.708448,0.708448,405283
2015-08-11,0.708087,1.131410,0.663235,1.067860,1.067860,1463100
...,...,...,...,...,...,...
2021-11-18,4287.802246,4343.557129,3959.227783,4000.650879,4000.650879,21383250893
2021-11-19,3995.729492,4311.713867,3982.917480,4298.306641,4298.306641,20626269711
2021-11-20,4298.350586,4434.388184,4209.242676,4409.931152,4409.931152,15448261277
2021-11-21,4412.195312,4422.491699,4255.455078,4269.732910,4269.732910,14094831413
2021-11-22,4250.759766,4250.759766,4166.675293,4192.578613,4192.578613,15206171648